@using PeerReviewWeb.Models.CourseModels
@using PeerReviewWeb.Models.AssignmentViewModels
@model ReviewAssignment

<tr>
    <th scope="row">@Model.ApplicationUser.Email</th>
    <td>@Model.TimeStamp</td>
    <td>@Model.ID</td>
</tr>