@using PeerReviewWeb.Models.ReviewViewModels
@model ReviewViewModel

@{
	ViewData["Title"] = "Review";
	ViewData["Values"] = Model.Values;
}
<div class="container row">
	<h1>Peer Review</h1>
	<div class="col-lg-6">
		<h2>Your Submission</h2>
		<p>In this column is your original submission for this assignment.</p>
		@await Html.PartialAsync("_Submission", Model.Submission)
	</div>
	<div class="col-lg-6" style="background-color: #DDDDDD; padding-bottom: 10px">
		<h2>Review</h2>
		<p>In this column is the following feedback, provided by one of your peers:</p>
		<form>
			@await Html.PartialAsync("~/Views/SchemaStatic/Schema.cshtml", Model.ReviewSchema)
		</form>
		<small>Review GUID: <i>@Model.ReviewId</i></small>
	</div>
</div>