@using PeerReviewWeb.Models.FormSchema
@using Newtonsoft.Json
@model Schema

@{
    ViewData["Title"] = "Form Demo";
    var jsobj = JsonConvert.SerializeObject(Model, Formatting.Indented);
}

<div class="container row">
    <div class="col-lg-4">
        <h3>Form</h3>
        <form action="">
            @await Html.PartialAsync("~/Views/Schema/Schema.cshtml", Model)
        </form>
    </div>

    <div class="col-lg-4">
        <h3>JSON</h1>

        <pre>@jsobj</pre>
    </div>

    <div class="col-lg-4">
        <h3>Serialized then Deserialized Form</h3>
        <form action="">
            @await Html.PartialAsync("~/Views/Schema/Schema.cshtml", JsonConvert.DeserializeObject<Schema>(jsobj))
        </form>
    </div>
</div>