@using PeerReviewWeb.Models.FormSchema
@model Schema

<h2>@Model.Title</h2>
<p>@Model.Instructions</p>
<div class="ui form">
    @foreach (AbsFormEntry e in Model.Entries) {
        @await Html.PartialAsync($"~/Views/Schema/{e.Type}.cshtml", e)
    }
</div>