body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    flex: 1;
}

div .mdfmt {
    background-color: #f0f0f0;
}

/* Support for Likert-scale Semantic UI form elements */
ul.likert {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content : space-between;
    margin: 0;
    padding: 0 65px;
}
  
div.likert.labelbox {
    width: calc(100% - 51px);
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
  
p.likert.label {
    text-align: center;
}
  
div.ui.form div.likert.line {
    content: '';
    position:relative;
    top: 10px;
    left: 65px;
    height: 4px;
    width: calc(100% - 130px - 11px);
    padding: 0 2.5%;
    background-color: #bfbfbf;
    z-index: -1;
}