body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    flex: 1;
}

div .mdfmt {
    background-color: #f0f0f0;
}

/* Support for Likert-scale Semantic UI form elements */
ul.likert {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content : space-between;
    margin: 0;
    padding: 0 60px;
}
  
div.likert.labelbox {
    width: calc(100% - 57px);
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
}
  
p.likert.label {
    text-align: center;
    width: 90px;
}
  
div.ui.form div.likert.line {
    content: '';
    position:relative;
    top: 10px;
    left: 60px;
    height: 4px;
    width: calc(100% - 120px - 11px);
    padding: 0 2.5%;
    background-color: #bfbfbf;
    z-index: -1;
}

/* Fix a bug in ACE editor */
.ace_editor {
    font-family: 'Source Code Pro', Consolas, monospace !important;
}

.ace_editor div {
    font: inherit !important;
}

/* Fix contrast on radio buttons */
.ui.radio.checkbox label:before {
    box-shadow: 0 0 3px black;
}