@using PeerReviewWeb.Models.FormSchema
@using Newtonsoft.Json
@model Schema

@{
    ViewData["Title"] = "Form Demo";
    var jsobj = JsonConvert.SerializeObject(Model, Formatting.Indented);
}

<div class="ui stackable two column grid">
    <div class="eight wide column" style="min-height: 700px;">
        <h1>JSON</h1>
        <div id="editor" style="width: 100%; height: 100%">@jsobj</div>
    </div>
    <div class="eight wide column">
        <h1>Form</h1>
        <form class= "ui form" action="">
            @await Html.PartialAsync("~/Views/Schema/Schema.cshtml", Model)
        </form>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.session.setMode("ace/mode/json");
    editor.resize();
</script>
}