@model PeerReviewWeb.Models.CourseModels.Course

<h3>Are you absolutely sure you want to delete this course?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
